server:
  port: 8088
spring:

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:C:/GISS-MAD/testDB/testdbIti;INIT=create schema if not exists MACA_ITINERARIO
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console